<h3> Discount Information for <%= @discount.name%></h3>
<p>Discount Name: <%= @discount.name %></p>
<p>Percentage Discount: <%= @discount.percentage_discount %>%</p>
<p>Quantity Threshold: <%= @discount.quantity_threshold %> Items</p>